.boton-principal {
    background-color: var(--primary-color);
    color: #ffffff;
}

.boton-principal:hover {
    background-color: var(--secondary-color);
}

.boton-secundario {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.boton-secundario:hover {
    background-color: var(--primary-color);
    color: white;
}