<div class="contenedor-home-taxista">
    <div class="elemento-home-taxista" id="seleccion-taxi">
        <h1>Seleccione taxi</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor='let taxi of taxis; let i = index'>
                <div class="hvr-shadow card h-100 ">
                    <div class="card-body">
                        <h5 class="card-title">Placa: {{taxi.placa}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="seleccionarTaxi(taxi)">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elemento-home-taxista" id="mapa-viajes">
        <app-mapview-taxista></app-mapview-taxista>
    </div>
</div>